services:
  site:
    build: .
    container_name: divergent-site
    healthcheck:
      test: curl --fail -s http://localhost:3000
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 120s
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
